<ion-content class="ion-padding">
  <ion-grid style="padding: 20px;">
    <ion-row>
      <ion-col size="12">
        <h1 style="font-weight: 900; color: white; font-size: 30px;">Welcome back</h1>
        <p style="font-weight: 100; color: white;">Login to your account</p>
      </ion-col>
      <ion-col size="12" style="margin-top: 100px;">
        <div>
          <ion-input
            class="primary-input"
            type="text"
            placeholder="Username"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="12" style="margin-top: 5px;">
        <div>
          <ion-input
            class="primary-input"
            type="password"
            placeholder="Password"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="12" style="margin-top: 20px;">
        <div>
          <ion-button
            class="primary-button"
            expand="block"
            color="primary"
            shape="round"
            >LOGIN</ion-button
          >
        </div>
      </ion-col>
      <ion-col size="12" style="margin-top: 20px;">
          <div>
            <ion-button
              class="light-button"
              expand="block"
              color="light"
              shape="round"
              routerLink="/register"
              routerDirection="forward"
              >REGISTER</ion-button
            >
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
